.footer{
    background-color:var(--lighter);
    color:var(--darkest);
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    flex-grow: 1;
    flex-shrink: 1;
    padding:5%;
    & h2{
        margin-top: 0;
    }
    & a{
        background-color:var(--darker);
        color:var(--lightest);
        &:hover{
            background-color:var(--darkest);
            color:var(--lightest);
        }
    }
}